/* default margin and padding for body and html */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* desktop nav */
#navbar,
.nav-menu {
    display: flex;
}

#navbar {
    justify-content: space-around;
    align-items: center;
    height: 100px;  
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.5s;
    z-index: 1000;
}
#navbar.hidden {
    top: -100px; 
}

#navbar .logo img {
    display: inline-block;
    width: 100px;
    height: 50px;
    cursor: pointer;
    padding: 0;
}
#navbar .nav-menu {
    margin-left: auto;
    margin-right: 50px;
    gap: 2rem;
    list-style: none;
    font-size: 25px;
    cursor: pointer;
    transition: color 0.15s;
}

#navbar a {
    color: white;
    text-decoration: none;
    margin-left: 40px;
}

#navbar .nav-menu a:hover {
    background-color: #333;
    color:  #f44336;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color:  #f44336;
}

/* footer */
#footer{
    display: flex;
    background-color: #333;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#footer .icons{
    display: flex;
    list-style-type: none;
}

#footer .copyright{
    display: flex;
    list-style-type: none;
    margin: 15px;
}

#footer a{
    color: white;
    margin-right: 20px;
    font-size: 20px;
    text-decoration: none;
}

/* newsletter */
.newsletter {
    display: flex;
    margin-top: 10px;
    align-items: center;
  }
  
label {
    color: white;
    margin-right: 10px;
    font-size: 20px;
}
  
input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}

button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    background-color: #f44336;
    color: white;
    cursor: pointer;
}

/* hompage */
#homepage {
    background-image: url('images/concert1.jpeg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
}

/* music page */

.music-page {
    background-image: url('images/dark-grunge.jpg');
    height: 100%;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.music-page .music-title{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    font-size: 25px;
    color:  #f44336;
    text-align: center;

}

.music-page .music-info img {
    width: 250px; 
    height: auto; 
    display: flex;
    flex-wrap: wrap;     
    margin: 20px;   
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* tour page */
.tour-page {
    background-image: url('images/dark-grunge.jpg');
    height: 100%;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tour-page .title{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    font-size: 25px;
    color: #f44336;
}

.tour-page .tour-list {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.tour-page .tour-item {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 100%;
}

.tour-page .tour-item .tour-name {
    font-size: 25px;
    color: #f44336;
    font-weight: bold;
    width: 100%;
}

.tour-page .tour-item .tour-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.tour-page .tour-item .tour-date {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.tour-page .tour-item .tour-location {
    font-size: 25px;
    color: white;
}

.tour-page .tour-item .tour-link a {
    font-size: 20px;
    text-decoration: none;
    color: #f44336;
}

.tour-page .tour-item .tour-link a:hover {
    text-decoration: underline;
    color: white;
}

/* members page */
#members {
    display: flex;
    background-image: url('images/members.jpg');
    height: 100%;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#about-us {
    background-image: url('images/dark-grunge.jpg');
    height: 100%;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;   
}

#about-us ul {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
    list-style-type: none;
    
}
#about-us a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

#about-us ul li {
    margin: 0 100px;
}

#about-us ul li :hover{
    color:  #f44336;
}

#about-us .aboutUs{
    font-size: 25px;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    color:  #f44336;
    margin: 20px;
}

#about-us .hist {
    text-align: center;
    width: 60%;
    color: white;
    padding-left: 20%;
    font-size: 25px;
    font-family: arial, sans-serif;
}

/* store page */
.category ul {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    flex-wrap: wrap; 
}

.category ul li {
    width: 200px;
    height: 100px;
    float: left;
    list-style-type: none;
    font-size: 30px;
    margin-top: 50px;
    cursor: pointer;
}

.category ul li:first-child {
    color:  #f44336;
}

.clothing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.clothing a {
    color: black;
    text-decoration: none;
}

.clothing a:hover{
    color:  #f44336;   
    
}
.merch{
    margin: 40px;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.merch .shirt, .desc, .price{
    width: 300px;
    margin: 15px 0;
    text-align: center;
}

